*
	margin 0
	padding 0
	box-sizing border-box
	transition width 2s
	-moz-transition width 2s
	-webkit-transition width 2s
	-o-transition width 2s
page
	height 100%
	background-color #f6f6f6
.main-content
	height 100%
	background-color #f6f6f6
.padding-5
	padding 5px
.margin-t10
	margin-top 10px
.margin-b10
	margin-bottom 10px
.ipt
	padding 0 10px
	height 44px
	font-size 14px
	background-color #fff
.ipt-placeholder
	color #ccc
.wx-1px,.wx-1px-t,.wx-1px-b,.wx-1px-tb,.wx-1px-l,.wx-1px-r
	position relative
.wx-1px
	&:before
		content " "
		position absolute
		left 0
		top 0
		width 200%
		border 1px solid #C7C7C7
		color #C7C7C7
		height 200%
		transform-origin left top
		transform scale(0.5)
.wx-1px-t
	&:before
		content " "
		position absolute
		left 0
		top 0
		width 200%
		border-top 1px solid #C7C7C7
		color #C7C7C7
		height 200%
		transform-origin left top
		transform scale(0.5)
.wx-1px-b
	&:before
		content " "
		position absolute
		left 0
		top 0
		width 200%
		border-bottom 1px solid #C7C7C7
		color #C7C7C7
		height 200%
		transform-origin left top
		transform scale(0.5)
.wx-1px-tb
	&:before
		content " "
		position absolute
		left 0
		top 0
		width 200%
		border-top 1px solid #C7C7C7
		border-bottom 1px solid #C7C7C7
		color #C7C7C7
		height 200%
		transform-origin left top
		transform scale(0.5)
.wx-1px-l
	&:before
		content " "
		position absolute
		left 0
		top 0
		width 200%
		border-left 1px solid #C7C7C7
		color #C7C7C7
		height 200%
		transform-origin left top
		transform scale(0.5)
.wx-1px-r
	&:before
		content " "
		position absolute
		left 0
		top 0
		width 200%
		border-right 1px solid #C7C7C7
		color #C7C7C7
		height 200%
		transform-origin left top
		transform scale(0.5)